@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCerealLight.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCerealMedium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCerealBook.ttf');
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCerealBold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCerealExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCerealBlack.ttf');
    font-weight: 900;
}

/* root styles */

:root {
    --ff-primary: 'AirbnbCereal';
    --f-clr-dark: #383A3D;
}

