@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCereal_W_Lt.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCereal_W_Md.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCereal_W_Bk.otf');
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCereal_W_Bd.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCereal_W_XBd.otf');
    font-weight: 800;
}
@font-face {
    font-family: 'AirbnbCereal';
    src: url('./styles/fonts/AirbnbCereal_W_Blk.otf');
    font-weight: 900;
}

/* root styles */

:root {
    --ff-primary: 'AirbnbCereal';
    --f-clr-dark: #383A3D;
}

